* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
}

.header__logo {
    padding: 52px 0 26px 0;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.header__options-select {
    display: flex;
    padding-top: 52px;
}

.header__options-select li {
    margin-right: 30px;
    list-style: none;
    text-transform: uppercase;
}

.header__options-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #323642;
    margin-bottom: 6px;
}

/* .header__options-link::after {
    content: '';
    width: 100%;
    border: 1px solid #4CB649;
} */

.header__options-select li:last-child {
    margin-right: 0;
}

.header__log-in {
    padding-top: 40px;
}

.header__btn {
    padding: 11px;
    border-radius: 25px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #4CB649;
    color: #4CB649;
    transition: .3s all;
}

.header__btn:last-child {
    margin-right: 0;
}

.header__btn:hover {
    background-color: #4CB649;
    color: #fff;
    transition: .3s all;
}

/*Main */

/* Info styles */

.info {
    max-width: 1200px;
    border: 1px solid #D7D8D9;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.info__wrapper {
    display: flex;
    height: 400px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
}

.info__text {
    padding: 59px 60px 40px 60px;
}

.info__text-title h1 {
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: #22252E;
    margin-bottom: 84px;
}

.info__text-dates {
    display: flex;
}

.info__text-dates,
.info__text-hashtags {
    margin-bottom: 12px;
}

.info__text-name::after {
    content: '';
    border-right: 2px solid #889099;
    margin: 10px;
    height: 20px;
    
}

.info__text-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #889099;
}

.info__text-hashtag {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4CB649;
}

.info__text-comments {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #889099;
    background: url(./image/svg/comment.svg) no-repeat left;
    padding-left: 19px;
}

/* Tags styles */

.tags {
    margin-bottom: 40px;
}

.tags__nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 21px 33px;
    background: #F7F7F7;
    border-radius: 4px;
}

.tags__nav-tag {
    margin-right: 43px;
    letter-spacing: 1px;
    color: #323642;
}

.tags__nav-list {
    display: flex;
    list-style: none;
}

.tags__nav-name {
    margin-right: 30px;
}

.tags__nav-link {
    letter-spacing: 0.8px;
    color: #4CB649;
}

.tags__nav-name:last-child {
    margin-right: 0;
}

.tags__nav-about-team {
    margin-right: 30px;
    letter-spacing: 1px;
}

.tags__nav-about-link {
    color: #323642;
}


