* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
}

.header__logo {
    padding: 52px 0 26px 0;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.header__options-select {
    display: flex;
    padding-top: 52px;
}

.header__options-select li {
    margin-right: 30px;
    list-style: none;
    text-transform: uppercase;
}

.header__options-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #323642;
    padding-bottom: 6px;
}

.header__options-link:hover,
.header__options-link:active,
.header__options-link:focus {
    border-bottom: 3px solid #4CB649;
}

.header__options-select li:last-child {
    margin-right: 0;
}

.header__log-in {
    padding-top: 40px;
}

.header__btn {
    padding: 11px;
    border-radius: 25px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #4CB649;
    color: #4CB649;
    transition: .3s all;
}

.header__btn:last-child {
    margin-right: 0;
}

.header__btn:hover {
    background-color: #4CB649;
    color: #fff;
    transition: .3s all;
}

/*Main */

/* Info styles */

.info {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.info__wrapper {
    display: flex;
    height: 400px;
    background-color: #FFFFFF;
    border: 1px solid #D7D8D9;
    border-radius: 6px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
}

.info__img {
    border-radius: 6px 0 0 6px;
}

.info__text {
    padding: 59px 60px 40px 60px;
}

.info__text-title h1 {
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: #22252E;
    margin-bottom: 84px;
}

.info__text-dates {
    display: flex;
}

.info__text-dates,
.info__text-hashtags {
    margin-bottom: 12px;
}

.info__text-name::after {
    content: '';
    border-right: 2px solid #889099;
    margin: 10px;
    height: 20px;
    
}

.info__text-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #889099;
}

.info__text-hashtag {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4CB649;
}

.info__text-comments,
.posts__text-comments {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #889099;
    background: url(./image/svg/comment.svg) no-repeat left;
    padding-left: 19px;
}

/* Tags styles */

.tags {
    margin-bottom: 40px;
}

.tags__nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 21px 33px;
    background: #F7F7F7;
    border-radius: 4px;
}

.tags__nav-tag {
    margin-right: 43px;
    letter-spacing: 1px;
    color: #323642;
}

.tags__nav-list {
    display: flex;
    list-style: none;
}

.tags__nav-name {
    margin-right: 30px;
}

.tags__nav-link {
    letter-spacing: 0.8px;
    color: #4CB649;
}

.tags__nav-name:last-child {
    margin-right: 0;
}

.tags__nav-about-team {
    margin-right: 30px;
    letter-spacing: 1px;
}

.tags__nav-about-link {
    color: #323642;
}

/* Posts styles */

.posts {
    margin-bottom: 73px;
}

.posts__sections {
    display: flex;
}

.posts__tag {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;
    color: #22252E;
}

.posts__block {
    display: flex;
    border-bottom: 1px solid #EBECED;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.posts__block-pic {
    height: 180px;
}

.posts__block-informations {
    margin-left: 40px;
    margin-right: 20px;
}

.posts__block-titles {
    margin-bottom: 7px;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: #22252E;
}

.posts__text-dates {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #323642;
}

.posts__text-date {
    color: #889099;
}

.posts__text-hashtags {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4CB649;
}

.posts__text-comments {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #889099;
}

.posts__button {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.posts__btn-link {
    padding: 11px 40px;
    border: 1px solid #4CB649;
    border-radius: 30px;
    text-transform: uppercase;
    color: #4CB649;
}

.posts__right-section {
    display: flex;
    margin-left: 20px;
}

.posts__right-block {
    width: 100%;
    padding-left: 60px;
    border-left: 1px solid #EBECED;
}

.posts__right-search {
    position: relative;
    margin-bottom: 32px;
}

.posts__right-pic {
    position: absolute;
    top: 22px;
    left: 20px;
    width: 18px;
}

.posts__right-input {
    width: -webkit-fill-available;
    background-color: #FFFFFF;
    border: 1px solid #D7D8D9;
    border-radius: 4px;
    padding: 16px 0 16px 58px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #22252E;
}

.posts__right-announcements,
.posts__right-popularPosts {
    padding-bottom: 28px;
    border-bottom: 1px solid #EBECED;
    margin-bottom: 32px;
}

.posts__right-type {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.posts__right-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: #22252E;
    margin-left: 20px
}

.posts__right-lists {
    margin-left: 15px;
    
}

.posts__right-list {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.posts__right-list:last-child {
    margin-bottom: 0;
}

.posts__right-list::marker {
    color: #4CB649;
}

.posts__right-bitmap {
    margin-bottom: 30px;
}

.posts__right-cloudTitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: #22252E;
    margin-bottom: 15px;
}

.posts__right-cloudImg {
    margin-left: -15px;
}

/* Subscriptions styles */

.subscriptions {
    background: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
    margin-bottom: 84px;
}

.subscriptions__title {
    padding-top: 100px;
    text-align: center;
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.subscriptions__blocks {
    display: flex;
    justify-content: space-between;
}

.subscriptions__block {
    background: #FFFFFF;
    border: 1px solid #EBECED;
    border-radius: 6px;
    margin-bottom: 51px;
}

.subscriptions__block {
    text-align: center;
    padding: 48px 102px 40px 102px;
    transition: .2s all;
}

.subscriptions__block:hover,
.subscriptions__block:active,
.subscriptions__block:focus {
    transform: scale(1.1);
    border: 4px solid #4CB649;
    transition: .2s all;
}

.subscriptions__months {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #323642;
}

.subscriptions__months::after {
    content: '';
    display: block;
    width: 24px;
    margin: 12px auto 16px auto;
    border-bottom: 2px solid #4CB649;
}

.subscriptions__month {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #22252E;
    margin-bottom: 16px;
    padding-bottom: 18px;
    border-bottom: 1px solid #EBECED;
}

.first-child-month {
    margin-bottom: 27px;
}

.subscriptions__pay {
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -1.5px;
}

.subscriptions__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #323642;
    margin-bottom: 19px;
}

.first-child-info {
    margin-bottom: 30px;
}

.subscriptions__red {
    text-decoration: line-through;
    color: #F24458;
    margin-bottom: 4px;
}

.subscriptions__discount {
    font-weight: 700;
}

.subscriptions__btn {
    width: 100%;
    padding: 11px 0;
    background-color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #4CB649;
    border: 1px solid #4CB649;
    border-radius: 30px;
    cursor: pointer;
}

.subscriptions__btn:hover,
.subscriptions__btn:active,
.subscriptions__btn:focus {
    background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
    color: #FFFFFF;
}

.subscriptions__payment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.subscriptions__payment-name {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-right: 30px;
}

.subscriptions__payment-type {
    display: flex;
    list-style: none;
    align-items: center;
}

.subscriptions__payment-list {
    margin-right: 35px;
}

.subscriptions__payment-list:last-child {
    margin-right: 0;
}

.subscriptions__payment-links {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding-bottom: 53px;
}

.subscriptions__payment-link {
    margin-right: 40px;
    padding-right: 30px;
    color: #4CB649;
    background: url(./image/svg/Shape.svg) no-repeat right;
}

.subscriptions__payment-link:last-child {
    margin-right: 0;
}

/* Footer styles */

.footer__company-name {
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 58px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.footer__info-names {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323642;
    margin-bottom: 20px;
}

.footer__info-list {
    list-style: none;
    line-height: 2.1;
}

.footer__info-link,
.footer__info-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #889099;
}

.footer__info-reserved {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #889099;
}

.footer__info-programs {
    margin-bottom: 63px;
}

.footer__info-aboutSocial {
    max-width: 600px;
}

.footer__info-about {
    margin-bottom: 40px;
}

.footer__info-socialIcon {
    margin-right: 31px;
}

.footer__info-socialIcon:last-child {
    margin-right: 0;
}
